body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
    color: blueviolet;
}
h2 {
    color:blueviolet;
}
h3 {
    color:chocolate;
}
body > img {
    border-radius: 50%;
}
#intro {
    display: grid;
  }

p > a:hover {
    background-color: gold;
  }